SchemasAcordAml/NIPR-AML/codelists/ACORD_CodeLists_ClosedEnum_Doc.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
         ====================================================================== 
         =====  ACORD Closed Enum Code Lists Schema Module                          
         ===== 	NON NORMATIVE EXAMPLE PROVIDED FOR ACORD NDR ILLUSTRATION 
         ====================================================================== 
         
         Standard Organization: ACORD
          Version: Draft 18pla01 
      Generated on: 25 March 2011
         
         COPYRIGHT NOTICE:
         (c) 2011 ACORD. All Rights Reserved.
         
         Use of this Schema and its documentation are covered by the terms and conditions file that was included in the distribution file that you found this Schema.http://www.ACORD.org
         
      -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acord-doc="http://www.acord.org/schema/documentation/draft/Annotations/1" xmlns="http://www.acord.org/schema/data/draft/ReusableDataComponents/D" targetNamespace="http://www.acord.org/schema/data/draft/ReusableDataComponents/D" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xsd:simpleType name="ACORDStandardVersionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ActionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="AnswerCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="AttachmentTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="AuthorizingEntityContactRoleCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessActivityFinancialAmountItemTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessActivityTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="CodeListOwnerCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommunicationChannelCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="CommunicationProcessCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ContactRoleCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="CoreRoleCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="CorporateSharesIssuedTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="DomesticForeignCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="EducationLevelCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmailTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="EmployerCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="EndPointActorContactRoleCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ExchangeTradedCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ExtendedStatusCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ExternalIdentifierTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialAmountItemTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialPeriodCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialStatementFinancialAmountItemTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="FinancialStatementTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="GenderCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="HumanResourcesTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsuredExternalIdentifierTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsurerContactRoleCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="InsurerExternalIdentifierTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="JobCategoryCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="LegalEntityCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="LicenseStatusCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="MaritalStatusCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="MessageDocumentResultStatusCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="MessageResultStatusCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="NameTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="OccupationClassCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="OperationsFinancialAmountItemTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="OperationsHumanResourcesTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="OperationsTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="OrganizationExternalIdentifierTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="OrganizationNameTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="PartyRoleTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="PaymentTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="PersonExternalIdentifierTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="PersonNameTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="PersonTitlePrefixCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerAppointmentTransactionAmountItemTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerAppointmentTransactionFunctionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerContactRoleCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerExternalIdentifierTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerLicenseApplicationQuestionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerLicenseApplicationTransactionFunctionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerLicenseTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProducerTransactionStatusCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="QuestionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ResultPendedCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ResultRejectCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="ResultSuccessCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="TelephoneTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="TitleRelationshipCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="TransactionAmountItemTypeCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="TransactionFunctionCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="WorkPerformedCodeContent_Type">
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
</xsd:schema>
