SchemasNIPR/nipr_gateway_00_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Root elts -->
	<xs:element name="NIPR" type="NIPR"/>
	<xs:complexType name="NIPR">
		<xs:sequence>
			<xs:element name="ERROR" type="error_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TRANSACTION" type="nipr_trans_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="TRANSACTION" type="nipr_trans_type"/>
  -->
	<xs:complexType name="nipr_trans_type">
		<xs:sequence>
			<xs:element name="AMENDED" type="amended_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="APPLICANT" type="applicant_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="APPOINTER" type="appointer_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AUTHORIZATION" type="authorization_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CONTACT" type="contact_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CUSTOMER" type="string_len_15_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUST_BATCH" type="string_len_15_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUST_TRANS" type="string_len_20_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ENTITY" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LICENSE" type="license_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NIPR_TRANS" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NON_UNIFORM" type="non_uniform_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PAYMENT" type="payment_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PROCESS_FEE" type="monetary_len_8_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="STATE_FEE" type="monetary_len_8_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANS_FEE" type="monetary_len_8_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANS_HEAD" type="trans_head_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TRANS_STATUS" type="trans_status_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VALID" type="pf_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="TRANS_HEAD"   type="trans_head_type" minOccurs="1" maxOccurs="1"/>
  -->
	<xs:simpleType name="transaction_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1"/>
			<!-- Appointment -->
			<xs:enumeration value="01"/>
			<xs:enumeration value="2"/>
			<!-- Termination -->
			<xs:enumeration value="02"/>
			<xs:enumeration value="3"/>
			<!-- Appointment Renewal -->
			<xs:enumeration value="03"/>
			<xs:enumeration value="4"/>
			<!-- Non-Resident license Application -->
			<xs:enumeration value="04"/>
			<xs:enumeration value="5"/>
			<!-- Non-Resident license renewal -->
			<xs:enumeration value="05"/>
			<xs:enumeration value="6"/>
			<!-- Demographics change -->
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="trans_head_type">
		<xs:sequence>
			<xs:element name="COMMENTS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE_STAMP" type="date_type" minOccurs="1" maxOccurs="1"/>
			<!-- format : CCYYMMDD -->
			<xs:element name="STATE_CODE" type="state_code_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TIME_STAMP" type="time_type" minOccurs="1" maxOccurs="1"/>
			<!-- format : hhmmssxxx -->
			<xs:element name="TRANSACTION_TYPE" type="transaction_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="APPLICANT"    type="applicant_type" minOccurs="1" maxOccurs="1"/>
  -->
	<xs:complexType name="applicant_type">
		<xs:sequence>
			<xs:element name="ADDRESS" type="address_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AFFILIATION" type="affiliation_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ATTESTATION" type="yn_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BACKGROUND" type="background_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BANK_AFFILIATE" type="yn_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BIRTH_DATE" type="date_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="COUNTRY_CODE" type="country_code_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE_INCORPORATED" type="date_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EMAIL" type="email_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EMPLOYMENT_HISTORY" type="employment_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIRM_TYPE" type="firm_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GENDER" type="gender_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LICENSE_KEY" type="license_key_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME" type="name_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NASD_CRD" type="numeric_len_7_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NPN" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OWNER" type="owner_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE" type="phone_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESP_PRODUCER" type="resp_producer_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="STATE_COMPANY_ID" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TAX_NUM" type="tax_num_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPE" type="type_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="WEBSITE" type="string_len_50_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FINGERPRINTS" type="yn_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NONRES_INCOME" type="yn_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="LICENSE_KEY" type="license_key_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="license_key_type">
		<xs:sequence>
			<xs:element name="LICENSE_CLASS" type="numeric_len_5_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LICENSE_ID" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RES_LICENSE_CLASS" type="numeric_len_5_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RES_LICENSE_ID" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RES_STATE" type="state_code_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="NAME" type="name_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="name_type">
		<xs:sequence>
			<xs:element name="FIRM_OR_LAST_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIRST_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIDDLE_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME_CODE" type="name_code_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PREFIX" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SUFFIX_NAME" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPE" type="type_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="ADDRESS" type="address_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="address_type">
		<xs:sequence>
			<xs:element name="ADDRESS_CODE" type="address_code_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDR_LINE_1" type="string_len_50_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ADDR_LINE_2" type="string_len_50_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ADDR_LINE_3" type="string_len_50_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CITY" type="string_len_35_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="COUNTRY_CODE" type="country_code_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PROVINCE" type="string_len_20_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="STATE_CODE" type="state_code_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZIP_CODE" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="EMAIL" type="email_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="email_type">
		<xs:sequence>
			<xs:element name="EMAIL_ADDRESS" type="string_len_75_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EMAIL_CODE" type="email_code_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="PHONE" type="phone_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="phone_type">
		<xs:sequence>
			<xs:element name="COUNTRY_PHONE_CODE" type="country_phone_code_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE_CODE" type="phone_code_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PHONE_EXTENSION" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE_NUMBER" type="string_len_20_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="BACKGROUND" type="background_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="background_type">
		<xs:sequence>
			<xs:element name="COMMENTS" type="string_len_500_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="QUES_NUMBER" type="question_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QUES_RESPONSE" type="yn_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="AFFILIATION" type="affiliation_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="affiliation_type">
		<xs:sequence>
			<xs:element name="ENTITY_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FEIN" type="fein_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIRM_TYPE" type="firm_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NPN" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="EMPLOYMENT_HISTORY" type="employment_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="employment_type">
		<xs:sequence>
			<xs:element name="CITY" type="string_len_35_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DATE_FROM" type="date_mmyyyy_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DATE_TO" type="date_mmyyyy_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EMPLOYER_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="POSITION" type="string_len_25_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="STATE_CODE" type="state_code_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="RESP_PRODUCER" type="resp_producer_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="resp_producer_type">
		<xs:sequence>
			<xs:element name="FIRST_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LAST_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MIDDLE_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NPN" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SSN" type="tax_num_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SUFFIX_NAME" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="OWNER" type="owner_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="owner_type">
		<xs:sequence>
			<xs:element name="FIRM_OR_LAST_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIRM_TYPE" type="firm_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIRST_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIDDLE_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NPN" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OWNERSHIP" type="yn_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SUFFIX_NAME" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TAX_NUM" type="tax_num_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TITLE" type="string_len_25_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TYPE" type="type_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="APPOINTER"    type="appointer_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="appointer_type">
		<xs:sequence>
			<xs:element name="ADDRESS" type="address_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="COCODE" type="numeric_len_5_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LICENSE_KEY" type="license_key_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME" type="name_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NPN" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE" type="phone_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="STATE_COMPANY_ID" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TAX_NUM" type="tax_num_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPE" type="type_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="AMENDED"      type="amended_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="amended_type">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="string_len_15_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUST_BATCH" type="string_len_15_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUST_TRANS" type="string_len_20_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DATE_STAMP" type="date_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NIPR_TRANS" type="numeric_len_10_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="AUTHORIZATION"  type="authorization_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="authorization_type">
		<xs:sequence>
			<xs:element name="ADDRESS" type="address_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AUTH_FIRM_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COMPLIANCE_OFFICER" type="yn_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EMAIL" type="email_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIRST_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LAST_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PHONE" type="phone_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PREPARER_CODE" type="preparer_code_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TITLE" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="CONTACT"      type="contact_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="contact_type">
		<xs:sequence>
			<xs:element name="ADDRESS" type="address_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="COMPANY_NAME" type="string_len_100_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EMAIL" type="email_type" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="FIRST_NAME" type="string_len_25_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LAST_NAME" type="string_len_100_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ORIGIN_CODE" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE" type="phone_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="USER_ID" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="PAYMENT"      type="payment_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="payment_type">
		<xs:sequence>
			<xs:element name="ACCOUNT_ID" type="string_len_15_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD_EXP" type="date_mmyy_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD_NAME" type="string_len_100_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD_NUM" type="string_len_16_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD_TYPE" type="credit_card_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD_ZIP" type="string_len_10_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PAYMENT_TYPE" type="numeric_len_2_type"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="NON_UNIFORM"      type="non_uniform_type" minOccurs="0" maxOccurs="unbounded"/>
  
  -->
	<xs:complexType name="non_uniform_type">
		<xs:sequence>
			<xs:element name="KEY_VALUE" type="string_len_3_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VALUE" type="string_len_100_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="LICENSE"      type="license_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="license_type">
		<xs:sequence>
			<xs:element name="COUNTY_CODE" type="florida_county_code_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DATE_EFFECTIVE" type="date_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="INT_RESPONSE" type="int_response_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LICENSE_CLASS" type="numeric_len_5_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LOA" type="loa_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RESPONSE" type="response_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SPECIAL_LIC_TYPE" type="special_license_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TERMINATION_REASON" type="termination_reason_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
  <xs:element name="LOA"                type="loa_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="loa_type">
		<xs:sequence>
			<xs:element name="COUNTY_CODE" type="florida_county_code_type" minOccurs="0" maxOccurs="unbounded"/>
 			<xs:element name="DATE_EFFECTIVE" type="date_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="INT_RESPONSE" type="int_response_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LOA_CODE" type="numeric_len_5_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RESPONSE" type="response_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TERMINATION_REASON" type="termination_reason_type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
			<xs:element name="INT_RESPONSE" type="int_response_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="int_response_type">
		<xs:sequence>
			<xs:element name="DATE_STAMP" type="date_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RESP_MESSAGE" type="resp_message_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TIME_STAMP" type="time_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
			<xs:element name="RESPONSE" type="response_type" minOccurs="0" maxOccurs="1"/>
  -->
	<xs:complexType name="response_type">
		<xs:sequence>
			<xs:element name="APPROVED" type="yn_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DATE_EFFECTIVE" type="date_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE_STAMP" type="date_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RENEWAL_DATE" type="date_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESP_MESSAGE" type="resp_message_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TIME_STAMP" type="time_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
			<xs:element name="RESP_MESSAGE" type="resp_message_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="resp_message_type">
		<xs:sequence>
			<xs:element name="ACTION_REQD" type="yn_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="COMMENTS" type="string_len_500_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="COMMENT_CODE" type="numeric_len_5_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<!-- available element
			<xs:element name="ERROR" type="error_type" minOccurs="0" maxOccurs="unbounded"/>
  -->
	<xs:complexType name="error_type">
		<xs:sequence>
			<xs:element name="FILE_NAME" type="string_len_100_type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ERROR_CODE" type="numeric_len_5_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DESCRIPTION" type="string_len_500_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DATE_STAMP" type="date_type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TIME_STAMP" type="time_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ____________________________________________________________________ -->
	<xs:simpleType name="state_code_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
			<xs:enumeration value="AA"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="AK"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AP"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AS"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CN"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="GU"/>
			<xs:enumeration value="HI"/>
			<xs:enumeration value="IA"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="KS"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NH"/>
			<xs:enumeration value="NJ"/>
			<xs:enumeration value="NM"/>
			<xs:enumeration value="NV"/>
			<xs:enumeration value="NY"/>
			<xs:enumeration value="OH"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TX"/>
			<xs:enumeration value="UT"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="VT"/>
			<xs:enumeration value="WA"/>
			<xs:enumeration value="WI"/>
			<xs:enumeration value="WV"/>
			<xs:enumeration value="WY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="canadian_province_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="AB"/>
			<!-- Alberta-->
			<xs:enumeration value="BC"/>
			<!-- British Columbia-->
			<xs:enumeration value="MB"/>
			<!-- Manitoba-->
			<xs:enumeration value="NB"/>
			<!-- New Brunswick-->
			<xs:enumeration value="NF"/>
			<!-- Newfoundland-->
			<xs:enumeration value="NS"/>
			<!-- Nova Scotia-->
			<xs:enumeration value="NU"/>
			<!-- Nunauut Territory-->
			<xs:enumeration value="NT"/>
			<!-- Northwest Territories-->
			<xs:enumeration value="ON"/>
			<!-- Ontario-->
			<xs:enumeration value="PE"/>
			<!-- Prince Edward Island-->
			<xs:enumeration value="QC"/>
			<!-- Quebec-->
			<xs:enumeration value="SK"/>
			<!-- Saskatchewan-->
			<xs:enumeration value="YT"/>
			<!-- Yukon Territory-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="florida_county_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<!-- All counties  -->
			<xs:enumeration value="1"/>
			<!-- Dade  -->
			<xs:enumeration value="01"/>
			<xs:enumeration value="2"/>
			<!-- DuVal  -->
			<xs:enumeration value="02"/>
			<xs:enumeration value="3"/>
			<!-- Hillsborough  -->
			<xs:enumeration value="03"/>
			<xs:enumeration value="4"/>
			<!-- Pinellas  -->
			<xs:enumeration value="04"/>
			<xs:enumeration value="5"/>
			<!-- Polk  -->
			<xs:enumeration value="05"/>
			<xs:enumeration value="6"/>
			<!-- Palm Beach  -->
			<xs:enumeration value="06"/>
			<xs:enumeration value="7"/>
			<!-- Orange  -->
			<xs:enumeration value="07"/>
			<xs:enumeration value="8"/>
			<!-- Volusia  -->
			<xs:enumeration value="08"/>
			<xs:enumeration value="9"/>
			<!-- Escambia  -->
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<!-- Broward  -->
			<xs:enumeration value="11"/>
			<!-- Alachua  -->
			<xs:enumeration value="12"/>
			<!-- Lake  -->
			<xs:enumeration value="13"/>
			<!-- Leon  -->
			<xs:enumeration value="14"/>
			<!-- Marion  -->
			<xs:enumeration value="15"/>
			<!-- Manatee  -->
			<xs:enumeration value="16"/>
			<!-- Sarasota  -->
			<xs:enumeration value="17"/>
			<!-- Seminole  -->
			<xs:enumeration value="18"/>
			<!-- Lee  -->
			<xs:enumeration value="19"/>
			<!-- Brevard  -->
			<xs:enumeration value="20"/>
			<!-- St. Johns  -->
			<xs:enumeration value="21"/>
			<!-- Gadsden  -->
			<xs:enumeration value="22"/>
			<!-- Putnam  -->
			<xs:enumeration value="23"/>
			<!-- Bay  -->
			<xs:enumeration value="24"/>
			<!-- St. Lucie  -->
			<xs:enumeration value="25"/>
			<!-- Jackson  -->
			<xs:enumeration value="26"/>
			<!-- Osceola  -->
			<xs:enumeration value="27"/>
			<!-- Highlands  -->
			<xs:enumeration value="28"/>
			<!-- Pasco  -->
			<xs:enumeration value="29"/>
			<!-- Columbia  -->
			<xs:enumeration value="30"/>
			<!-- Hardee  -->
			<xs:enumeration value="31"/>
			<!-- Suwanee  -->
			<xs:enumeration value="32"/>
			<!-- Indian River  -->
			<xs:enumeration value="33"/>
			<!-- Santa Rosa  -->
			<xs:enumeration value="34"/>
			<!-- De Soto  -->
			<xs:enumeration value="35"/>
			<!-- Madison  -->
			<xs:enumeration value="36"/>
			<!-- Walton  -->
			<xs:enumeration value="37"/>
			<!-- Taylor  -->
			<xs:enumeration value="38"/>
			<!-- Monroe  -->
			<xs:enumeration value="39"/>
			<!-- Levy  -->
			<xs:enumeration value="40"/>
			<!-- Hernando  -->
			<xs:enumeration value="41"/>
			<!-- Nassau  -->
			<xs:enumeration value="42"/>
			<!-- Martin  -->
			<xs:enumeration value="43"/>
			<!-- Okaloosa  -->
			<xs:enumeration value="44"/>
			<!-- Sumter  -->
			<xs:enumeration value="45"/>
			<!-- Bradford  -->
			<xs:enumeration value="46"/>
			<!-- Jefferson  -->
			<xs:enumeration value="47"/>
			<!-- Citrus  -->
			<xs:enumeration value="48"/>
			<!-- Clay  -->
			<xs:enumeration value="49"/>
			<!-- Hendry  -->
			<xs:enumeration value="50"/>
			<!-- Washington  -->
			<xs:enumeration value="51"/>
			<!-- Holmes  -->
			<xs:enumeration value="52"/>
			<!-- Baker  -->
			<xs:enumeration value="53"/>
			<!-- Charlotte  -->
			<xs:enumeration value="54"/>
			<!-- Dixie  -->
			<xs:enumeration value="55"/>
			<!-- Gilchrist  -->
			<xs:enumeration value="56"/>
			<!-- Hamilton  -->
			<xs:enumeration value="57"/>
			<!-- Okeechobee  -->
			<xs:enumeration value="58"/>
			<!-- Calhoun  -->
			<xs:enumeration value="59"/>
			<!-- Franklin  -->
			<xs:enumeration value="60"/>
			<!-- Glades  -->
			<xs:enumeration value="61"/>
			<!-- Flagler  -->
			<xs:enumeration value="62"/>
			<!-- Lafayette  -->
			<xs:enumeration value="63"/>
			<!-- Union  -->
			<xs:enumeration value="64"/>
			<!-- Collier  -->
			<xs:enumeration value="65"/>
			<!-- Wakulla  -->
			<xs:enumeration value="66"/>
			<!-- Gulf  -->
			<xs:enumeration value="67"/>
			<!-- Liberty  -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phone_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<!-- Unknown  -->
			<xs:enumeration value="1"/>
			<!-- Residence  -->
			<xs:enumeration value="01"/>
			<!-- Residence  -->
			<xs:enumeration value="2"/>
			<!-- Business  -->
			<xs:enumeration value="02"/>
			<!-- Business  -->
			<xs:enumeration value="3"/>
			<!-- Mobile  -->
			<xs:enumeration value="03"/>
			<!-- Mobile  -->
			<xs:enumeration value="4"/>
			<!-- Pager  -->
			<xs:enumeration value="04"/>
			<!-- Pager  -->
			<xs:enumeration value="5"/>
			<!-- Fax  -->
			<xs:enumeration value="05"/>
			<!-- Fax  -->
			<xs:enumeration value="6"/>
			<!-- Data / Modem  -->
			<xs:enumeration value="06"/>
			<!-- Data / Modem  -->
			<xs:enumeration value="9"/>
			<!-- Other  -->
			<xs:enumeration value="09"/>
			<!-- Other  -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="payment_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<!-- None  -->
			<xs:enumeration value="1"/>
			<!-- Escrow  -->
			<xs:enumeration value="01"/>
			<!-- Escrow  -->
			<xs:enumeration value="2"/>
			<!-- Pre-established direct debit account  -->
			<xs:enumeration value="02"/>
			<!-- Pre-established direct debit account  -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="name_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1"/>
			<!-- Primary Entity Name  -->
			<xs:enumeration value="01"/>
			<!-- Primary Entity Name  -->
			<xs:enumeration value="2"/>
			<!-- Alias Entity Name  -->
			<xs:enumeration value="02"/>
			<!-- Alias Entity Name  -->
			<xs:enumeration value="3"/>
			<!-- "Doing Business As" Entity Name  -->
			<xs:enumeration value="03"/>
			<!-- "Doing Business As" Entity Name  -->
			<xs:enumeration value="4"/>
			<!-- "Previously/Formerly Known As" Entity Name  -->
			<xs:enumeration value="04"/>
			<!-- "Previously/Formerly Known As" Entity Name  -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="firm_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<!-- Unknown   -->
			<xs:enumeration value="1"/>
			<!-- Partnership   -->
			<xs:enumeration value="01"/>
			<!-- Partnership   -->
			<xs:enumeration value="2"/>
			<!-- Limited Liability Company   -->
			<xs:enumeration value="02"/>
			<!-- Limited Liability Company   -->
			<xs:enumeration value="3"/>
			<!-- Limited Liability Partnership   -->
			<xs:enumeration value="03"/>
			<!-- Limited Liability Partnership   -->
			<xs:enumeration value="4"/>
			<!-- Corporation   -->
			<xs:enumeration value="04"/>
			<!-- Corporation   -->
			<xs:enumeration value="5"/>
			<!-- Sole Proprietor   -->
			<xs:enumeration value="05"/>
			<!-- Sole Proprietor   -->
			<xs:enumeration value="6"/>
			<!-- Unincorporated Association   -->
			<xs:enumeration value="06"/>
			<!-- Unincorporated Association   -->
			<xs:enumeration value="7"/>
			<!-- Agency, Incorporated   -->
			<xs:enumeration value="07"/>
			<!-- Agency, Incorporated   -->
			<xs:enumeration value="8"/>
			<!-- Agency, Sole Proprietorship   -->
			<xs:enumeration value="08"/>
			<!-- Agency, Sole Proprietorship   -->
			<xs:enumeration value="9"/>
			<!-- DBA/TBA   -->
			<xs:enumeration value="09"/>
			<!-- DBA/TBA   -->
			<xs:enumeration value="10"/>
			<!-- Limited Partnership   -->
			<xs:enumeration value="99"/>
			<!-- Other   -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="address_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1"/>
			<!-- Residence   -->
			<xs:enumeration value="01"/>
			<!-- Residence   -->
			<xs:enumeration value="2"/>
			<!-- Business   -->
			<xs:enumeration value="02"/>
			<!-- Business   -->
			<xs:enumeration value="3"/>
			<!-- Mailing   -->
			<xs:enumeration value="03"/>
			<!-- Mailing   -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="email_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<!-- Unknown   -->
			<xs:enumeration value="1"/>
			<!-- Residence   -->
			<xs:enumeration value="01"/>
			<!-- Residence   -->
			<xs:enumeration value="2"/>
			<!-- Business   -->
			<xs:enumeration value="02"/>
			<!-- Business   -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="credit_card_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<!-- Unknown   -->
			<xs:enumeration value="1"/>
			<!-- VISA -->
			<xs:enumeration value="01"/>
			<!-- VISA -->
			<xs:enumeration value="2"/>
			<!-- Mastercard -->
			<xs:enumeration value="02"/>
			<!-- Mastercard -->
			<xs:enumeration value="3"/>
			<!-- American Express -->
			<xs:enumeration value="03"/>
			<!-- American Express -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="preparer_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="P"/>
			<!-- Producer   -->
			<xs:enumeration value="S"/>
			<!-- Submitter   -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="special_license_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="A"/>
			<!-- Amended license request   -->
			<xs:enumeration value="R"/>
			<!-- License reinstatement request   -->
		</xs:restriction>
	</xs:simpleType>
	<!-- date format yyyymmdd -->
	<xs:simpleType name="date_type">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date_mmyyyy_type">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="(01[1-2][0-9][0-9][0-9]|02[1-2][0-9][0-9][0-9]|03[1-2][0-9][0-9][0-9]|04[1-2][0-9][0-9][0-9]|05[1-2][0-9][0-9][0-9]|06[1-2][0-9][0-9][0-9]|07[1-2][0-9][0-9][0-9]|08[1-2][0-9][0-9][0-9]|09[1-2][0-9][0-9][0-9]|10[1-2][0-9][0-9][0-9]|11[1-2][0-9][0-9][0-9]|12[1-2][0-9][0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date_mmyy_type">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="(01[0-9][0-9]|02[0-9][0-9]|03[0-9][0-9]|04[0-9][0-9]|05[0-9][0-9]|06[0-9][0-9]|07[0-9][0-9]|08[0-9][0-9]|09[0-9][0-9]|10[0-9][0-9]|11[0-9][0-9]|12[0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="time_type">
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="[0-2][0-9][0-5][0-9][0-5][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tax_num_type">
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="country_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:pattern value="([0-9])?([0-9])?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="country_phone_code_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:pattern value="([0-9])?([0-9])?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="question_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:pattern value="([0-9])?([0-9])?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="termination_reason_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:pattern value="([0-9])?([0-9])?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fein_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gender_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yn_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pf_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="trans_status_type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="AV"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="HT"/>
			<xs:enumeration value="PC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="monetary_len_8_type">
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="99999.99"/>
			<xs:minInclusive value="0.00"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeric_len_5_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeric_len_2_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeric_len_7_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeric_len_10_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_3_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_10_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_15_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_16_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_20_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_25_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_35_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_50_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_75_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_100_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_len_500_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ____________________________________________________________________ -->
</xs:schema>
