SchemasAcordAml/NIPR-AML/data/BusinessDataTypes_doc.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   ====================================================================== 
    ===== Business Data Type Schema Module ===== 
   NON NORMATIVE EXAMPLE PROVIDED FOR ACORD NDR ILLUSTRATION 
    ====================================================================== 
   
      Standard Organization: ACORD
       Version: Draft 18pla01 
      Generated on: 25 March 2011
    
     COPYRIGHT NOTICE:
     
(c) 2011 ACORD. All Rights Reserved.

Use of this Schema and its documentation are covered by the terms and conditions file that was included in the distribution file that you found this Schema.http://www.ACORD.org

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acord-doc="http://www.acord.org/schema/documentation/draft/Annotations/1" xmlns="http://www.acord.org/schema/data/draft/ReusableDataComponents/1" targetNamespace="http://www.acord.org/schema/data/draft/ReusableDataComponents/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
   <xsd:annotation>
      <xsd:appinfo>
         <acord-doc:GenerationDateTime>3/25/2011</acord-doc:GenerationDateTime>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:include schemaLocation="../codelists/ACORD_CodeLists_doc.xsd"/>
<!--
*******************************************************************************
            Business Data Types
*******************************************************************************
-->

   <xsd:complexType name="ACORDClosedCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ACORDClosedCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>An ACORD closed list type is an ACORD specific type that represents a list of valid values that are defined within this specification. An element of type ACORDClosedCode_Type can not be extended or restricted. A list of this type can only be modified throguh the ACORD maintenance request process.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ACORDCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ACORDCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ACORDCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>An ACORD open list type is an ACORD specific type that represents a list of valid values that are defined within this specification. An element of type ACORDOpenList_Type can be extended or restricted.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ACORDCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ACORDStandardVersionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ACORDStandardVersionCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ACORDStandardVersionCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ActionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Action Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ActionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Amount_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Amount Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>An amount type is an ACORD specific type that represents a monetary amount. To completely define a monetary amount you need an amount and the type of currency the value is being reported in. The Amount_Type allows the element to contain the amount and provide a currency type as an attribute. The currency type can be defined globally at the top of a message, or it can be specified or override this global default at the element level. See &lt;ref idref="defaultCurrency"/&gt; for more details.be specified or override this global default at the element level. See &lt;ref idref="defaultCurrency"/&gt; for more details.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="AmountContent_Type">
            <xsd:attribute name="currencyCode" type="CurrencyCodeContent_Type">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AnswerCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Answer Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="AnswerCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AttachmentTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>AttachmentTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="AttachmentTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AuthorizingEntityContactRoleCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>AuthorizingEntityContactRoleCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The Contact Role Code of an object e.g. - for parties - the code that represent an person Contact in the Insurance process: "Accountant" "Underwriter" etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="AuthorizingEntityContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft17us0</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft17us0</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BusinessActivityFinancialAmountItemTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Business Activity Financial Amount Item Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="BusinessActivityFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BusinessActivityTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Business Activity Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="BusinessActivityTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Code_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>An open list type is an ACORD specific type that represents a list of valid values that are defined OUTSIDE this specification and is maintained by another organization. An element of type ACORDOpenList_Type can be extended or restricted.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="CodeContent_Type">
            <xsd:attributeGroup ref="CodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommunicationChannelCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CommunicationChannelCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="CommunicationChannelCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommunicationProcessCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CommunicationProcessCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="CommunicationProcessCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ContactRoleCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ContactRoleCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The Contact Role Code of an object e.g. - for parties - the code that represent an person Contact in the Insurance process: "Accountant" "Underwriter" etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CoreRoleCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CoreRoleCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The Core Role Code of an object e.g. - for parties - "Insurer" "Insured" etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="CoreRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CorporateSharesIssuedTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CorporateSharesIssuedTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="CorporateSharesIssuedTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft15za0</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft15za0</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DomesticForeignCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Domestic Foreign Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="DomesticForeignCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EducationLevelCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Education Level Code</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft15au0</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft15au0</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="EducationLevelCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmailTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>EmailTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The kind of Email, e.g. cell, pager etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="EmailTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmployerCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>EmployerCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="EmployerCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndPointActorContactRoleCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>EndPointActorContactRoleCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="EndPointActorContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExchangeTradedCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ExchangeTradedCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ExchangeTradedCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExtendedStatusCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ExtendedStatusCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ExtendedStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExternalIdentifierTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ExternalIdentifierTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialAmountItemTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Financial Amount Item Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="FinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialPeriodCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Financial Period Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="FinancialPeriodCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialStatementFinancialAmountItemTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Financial Statement Financial Amount Item Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="FinancialStatementFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FinancialStatementTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>FinancialStatementTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="FinancialStatementTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GenderCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>GenderCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="GenderCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HumanResourcesTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Human Resources Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="HumanResourcesTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InsuredExternalIdentifierTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>InsuredExternalIdentifierTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="InsuredExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InsurerContactRoleCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>InsurerContactRoleCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The Contact Role Code of an object e.g. - for parties - the code that represent an person Contact in the Insurance process: "Accountant" "Underwriter" etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="InsurerContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InsurerExternalIdentifierTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>InsurerExternalIdentifierTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="InsurerExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="JobCategoryCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Job Category Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="JobCategoryCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LegalEntityCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>LegalEntityCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="LegalEntityCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LicenseStatusCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>LicenseStatusCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="LicenseStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MaritalStatusCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>MaritalStatusCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="MaritalStatusCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MessageDocumentResultStatusCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>MessageDocumentResultStatusCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="MessageDocumentResultStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MessageResultStatusCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>MessageResultStatusCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="MessageResultStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NameTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>NameTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The type code of the name</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="NameTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OccupationClassCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>OccupationClassCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="OccupationClassCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperationsFinancialAmountItemTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Operations Financial Amount Item Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="OperationsFinancialAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperationsHumanResourcesTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Operations Human Resources Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="OperationsHumanResourcesTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OperationsTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>OperationsTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="OperationsTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OrganizationExternalIdentifierTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>OrganizationExternalIdentifierTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="OrganizationExternalIdentifierTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OrganizationNameTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>OrganizationNameTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The type code of the Organization name</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="OrganizationNameTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PartyRoleTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>PartyRoleTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PartyRoleTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>PaymentTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PaymentTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PersonExternalIdentifierTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>PersonExternalIdentifierTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PersonExternalIdentifierTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PersonNameTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Person NameTypeCode Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The type code of the Person name</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PersonNameTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PersonTitlePrefixCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Person Title Prefix Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PersonTitlePrefixCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerAppointmentTransactionAmountItemTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Producer Appointment Transaction Amount Item Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerAppointmentTransactionAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerAppointmentTransactionFunctionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Producer Appointment Transaction Function Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerAppointmentTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerContactRoleCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ProducerContactRoleCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The Contact Role Code of an object e.g. - for parties - the code that represent an person Contact in the Insurance process: "Accountant" "Underwriter" etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerContactRoleCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerExternalIdentifierTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ProducerExternalIdentifierTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerExternalIdentifierTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDClosedCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerLicenseApplicationQuestionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ProducerLicenseApplication Question Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerLicenseApplicationQuestionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerLicenseApplicationTransactionFunctionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Producer LicenseApplication Transaction Function Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerLicenseApplicationTransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerLicenseTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Producer License Type Code</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerLicenseTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProducerTransactionStatusCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ProducerTransactionStatusCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ProducerTransactionStatusCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="QuestionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Question Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="QuestionCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultPendedCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ResultPendedCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ResultPendedCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultRejectCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ResultRejectCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ResultRejectCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultSuccessCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ResultSuccessCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft9</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft9</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ResultSuccessCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TelephoneTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>TelephoneTypeCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The kind of telephone, e.g. cell, pager etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="TelephoneTypeCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TitleRelationshipCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>TitleRelationshipCode_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="TitleRelationshipCodeContent_Type">
            <xsd:attributeGroup ref="ACORDCodeAttribute_Sequence">
               <xsd:annotation>
                  <xsd:documentation/>
                  <xsd:appinfo>
                     <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
                     <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:attributeGroup>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TransactionAmountItemTypeCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Transaction Amount Item Type Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="TransactionAmountItemTypeCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TransactionFunctionCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Transaction Function Code Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="TransactionFunctionCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="WorkPerformedCode_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Work Performed Code</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft15za0</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft15za0</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="WorkPerformedCodeContent_Type"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ACORDCodeContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ACORDCodeContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:QName"/>
   </xsd:simpleType>
   <xsd:simpleType name="AmountContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>AmountContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:decimal"/>
   </xsd:simpleType>
   <xsd:simpleType name="CodeContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CodeContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:token"/>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCodeContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CurrencyCodeContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="CodeContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="Identifier_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Identifier Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>A lexical unit that names a language object, such as a variable, array, record, label, or procedure</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="IdentifierContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="IdentifierContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>IdentifierContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:token"/>
   </xsd:simpleType>
   <xsd:simpleType name="InfiniteText_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>InfiniteText Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>Character (C) indicates an element that allows character data up to a maximum number of characters, regardless of the number of bytes required to represent each character. The number specifies the maximum number of characters allowed. A tag of type CInfiniteText is allowed to have an infinite at the top of the message. There is no ability to override or specify a different language use for this data type. For other variations of this type, see: CInfiniteLanguageText.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="InfiniteTextContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="InfiniteTextContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>InfiniteTextContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="TextContent_Type">
         <xsd:minLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LongText_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>LongText Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>A tag of type LongText is allowed to have 255 characters and must be in the language specified in the xml:lang attribute at the top of the message. There is no ability to override or specify a different language use for this data type. For other variations of this type, see: LongLanguageText.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="LongTextContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="LongTextContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>LongTextContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="TextContent_Type">
         <xsd:maxLength value="255"/>
         <xsd:minLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Percent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>Percent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>A Percent type is an ACORD specific type that represents a decimal value used as a percentage. If the sign is omitted, "+" is assumed. Absence of a decimal point implies one to the right of the right most digit (i.e., an integer). Example: 12345 implies 12345. Any value should be used directly as the percentage. Example 1.0 is 1.0% and 0.1 is 0.1%.directly as the percentage. Example 1.0 is 1.0% and 0.1 is 0.1%.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:decimal"/>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberText_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>PhoneNumberText Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The phone number type is an ACORD specific type that represents a phone number.. It must begin with a plus sign "+" followed by country code, a hyphen, city/area code, another hyphen, then the local phone number. If a PBX extension is to be included, it must appear at the end of the field, separated from the rest of the telephone number by a plus sign.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="PhoneNumberTextContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberTextContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>PhoneNumberTextContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="TextContent_Type">
         <xsd:maxLength value="32"/>
         <xsd:minLength value="1"/>
         <xsd:pattern value="\+\S+\-\S+\-\S+(\+\S+)?"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SimpleIdentifier_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>SimpleIdentifier Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>An assigned identifier type is an ACORD specific type that represents a unique identifier created by an organization, carrier, agent, state, or other body. These include policy numbers, social security numbers, passport ids, drivers license numbers, etc.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="SimpleIdentifierContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="SimpleIdentifierContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>SimpleIdentifierContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="IdentifierContent_Type">
         <xsd:maxLength value="255"/>
         <xsd:minLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TextContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>TextContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="UnsignedIntegerNumeric_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>UnsignedIntegerNumeric_Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>The value space of xsd:unsignedInt is the range of integers between 0 and 4294967295. The unsigned values that can fit in a word of 32 bits. Its lexical space allows an optional plus sign and leading zeros before the significant digits.</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:unsignedInt"/>
   </xsd:simpleType>
   <xsd:simpleType name="UUIDIdentifier_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>UUIDIdentifier Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>Universally Unique Identifier</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="UUIDIdentifierContent_Type"/>
   </xsd:simpleType>
   <xsd:simpleType name="UUIDIdentifierContent_Type">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>UUIDIdentifierContent Type</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>TBD</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
         <xsd:appinfo>
            <acord-doc:ComponentCreatedVersionId>Draft8</acord-doc:ComponentCreatedVersionId>
            <acord-doc:ComponentUpdatedVersionId>Draft8</acord-doc:ComponentUpdatedVersionId>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="IdentifierContent_Type">
         <xsd:maxLength value="36"/>
         <xsd:minLength value="36"/>
         <xsd:pattern value="[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <!--
      *******************************************************************************
     AttributeGroup
      *******************************************************************************
   -->
   <xsd:attributeGroup name="ACORDClosedCodeAttribute_Sequence">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ACORDClosedCodeAttribute_Sequence</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>Unrestricted attribute group for ACORD Closed Codes</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute name="name" type="LongText_Type">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="lang" type="xsd:language">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="ACORDCodeAttribute_Sequence">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>ACORDCodeAttribute_Sequence</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>Unrestricted attribute group for ACORD Open Codes</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute name="name" type="LongText_Type">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="lang" type="xsd:language">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="codeListReference" type="SimpleIdentifier_Type">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="CodeAttribute_Sequence">
      <xsd:annotation>
         <xsd:documentation>
            <acord-doc:ExpandedName>CodeAttribute_Sequence</acord-doc:ExpandedName>
            <acord-doc:Description>
               <acord-doc:p>Unrestricted attribute group for non-ACORD Codes</acord-doc:p>
            </acord-doc:Description>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute name="name" type="LongText_Type">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="lang" type="xsd:language">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="codeListReference" type="SimpleIdentifier_Type">
         <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
               <acord-doc:ComponentCreatedVersionId>Draft10</acord-doc:ComponentCreatedVersionId>
               <acord-doc:ComponentUpdatedVersionId>Draft10</acord-doc:ComponentUpdatedVersionId>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:attributeGroup>
   
</xsd:schema>