Schemas/event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ContactInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PartyInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="PartyID"/>
                    <xs:element type="xs:string" name="PartyName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Street1"/>
                    <xs:element type="xs:string" name="Street2"/>
                    <xs:element type="xs:string" name="City"/>
                    <xs:element type="xs:string" name="State"/>
                    <xs:element type="xs:string" name="Country"/>
                    <xs:element type="xs:long" name="Phone"/>
                    <xs:element type="xs:long" name="CellPhone"/>
                    <xs:element type="xs:string" name="Email"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>